@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;1,200&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    height: 100%;
    
}
.texto-titulo{
    text-align: center;
    color: #6aa7bb;
    padding-top: 24px;
}
.paragrafo-index{
    font-size: 14px;
    text-align: justify;
    margin: 36px;
    color: #477382;
}
.home-text{
    padding-top: 30px;
}
.paragrafo-topicos{
    font-size: 14px;
    text-align: justify;
    padding: 25px;
}
.home-text{
    padding-top: 30px;
}
.grid-imagem, .secao-topicos{
    display: grid;
    grid-template-columns: auto auto auto;
}
.grid-imagem div{
    margin: auto;
    position: relative;
}
.grid-imagem p{
    display: none;
    position: absolute;
    top: 50%;
    padding: 12px;
    background: rgb(98 145 161 / 0.6);
}

.grid-imagem img{
    width: 300px;
    margin: auto;
    height: 200px;
    /* transition: 1.5s; */
    /* filter: blur(1px);
    -webkit-filter: blur(1px); */
}
.secao-topicos{
    text-align: center;
    grid-column-gap: 45px;
    padding: 30px 0;
}
.secao-topicos article{
    padding: 15px 0;
    color: aliceblue;
}
.secao-topicos a {
    text-decoration: none;
}
.redirecionar{
    margin: 48px 0;
    background: rgb(70 130 180 / 0.6);
    position: relative;
}
#video-index{
    text-align: center;
    padding-bottom: 65px;
}
/* .grid-imagem img:hover{
    width: 400px;
    height: 300px;
    filter: blur(2px);
    -webkit-filter: blur(2px);
} */
#logo{
    margin-top: 1px;
    height: 65px;
}

.cabecalho{
    display: inline-flex;
    width: 100%;
    height: 70px;
    justify-content: flex-end;
    /* background: rgba(41, 42, 46, 0.7); */
    background: rgb(98 145 161);
}
.footer{
    width: 100%;
    height: 120px;
    /* background: rgba(41, 42, 46, 0.7); */
    background: rgb(98 145 161);
    text-align: center;
    height: fit-content;
}

.footer p {
    padding: 7px 0;
    color: azure;
}

.footer div{
    padding: 60px 0;
}

#textarea{
    width: 200px;
    height: 100px;
}
.container{
    /* min-height: 800px; */
    display: block;
}
.frame{
    width: 75%;
    margin: 0 auto;
}
.frame-flex{
    display: flex;
    
}

.lista_menu{
    display: inline-flex;
    align-items: center;
    height: 100%;
}
.navbar_header{
    width: 100%;
    text-align: end;
}
.lista_menu li{
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
}

.lista_menu a{
    text-decoration: none;
    font-size: 20px;
    color: #DDD;
    padding: 17px;

}

.lista_menu li:hover{
    background-color: #4a4d55b3;
}

.meta{
    width: 200px;
    height: 50px;
    border: 1px black solid;
    margin-left: 8%;
    margin-right: 7%;
    margin-top: 10px;
    display: inline-block;
}
.meta p{
    text-align: center;
}

/*Sobre.html*/
#titulo-sobre {
    background-image: url("../img/agua_1.jpg");
    background-size: cover;
    height: 285px;
    display: flex;
}

#titulo-sobre h2 {
    margin: auto;
    font-size: 95px;
    color: black;
}

.descricao {
    padding: 30px;
    margin: 0 auto;
    text-align: center;
    background-color: #90b4d2;
    margin-bottom: 80px;
}

.descricao h2{
    text-align: center;
    margin: 25px 400px;
}
.descricao p{
    margin: 25px 400px;
}
.perfil{
    width: 200px;
    height: 200px;
    display: block;
    margin-right: auto;
    margin-top: 20px;
    margin-left: auto;
    border-radius: 50%;
}

.info{
    border: 2000px;
    /* border-radius: 2000px; */
    border-top-left-radius: 2000px;
    border-top-right-radius: 2000px;
    width: 250px;
    height: 270px;
    margin-top: 10%;
    /* margin-left: 6%;
    margin-right: 5%; */
    background-color: rgb(70 130 180 / 0.6);
}
.but_sobre{
    width: 30px;
    border: none;
    background: transparent;
    font-size: 25px;
    margin: 15px 0;
    cursor: pointer;
}
.texto{
    display: none;
    margin: 25px;
    text-align: justify;

}

.frame-sobre {
    padding-bottom: 100px;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

/* Galeria.html */
#titulo-galeria{
    background-image: url("../img/agua_1.jpg");
    background-size: cover;
    height: 285px;
    display: flex;
}
#titulo-galeria h2 {
    margin: auto;
    font-size: 95px;
    color: black;
}

.grid-galeria{
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

.grid-galeria img {
    width: 300px;
    height: 240px;
    margin-top: 30px;
    transition: 1.5s;
    border-radius: 30px;
}
.grid-galeria img:hover{
    transform: scale(1.2)
}

.galeria-main {
    padding-bottom: 50px;
}
/*objetivo.html*/
#titulo-objetivo{
    background-image: url("../img/rio.jpg");
    background-size: cover;
    height: 600px;
    display: flex;
    filter: brightness(80%);
}
#titulo-objetivo h2 {
    margin: auto;
    font-size: 95px;
    color: black;
}
.texto-objetivo{
    margin-top: 100px;
    padding: 10px 25px;
    text-align: justify;
}
.texto-objetivo p{
    padding: 15px 25px;
}